<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteEliminarController</servlet-name>
        <servlet-class>controller.ClienteEliminarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteModificarController</servlet-name>
        <servlet-class>controller.ClienteModificarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteNuevoController</servlet-name>
        <servlet-class>controller.ClienteNuevoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteEliminarController</servlet-name>
        <url-pattern>/ClienteEliminarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteModificarController</servlet-name>
        <url-pattern>/ClienteModificarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteNuevoController</servlet-name>
        <url-pattern>/ClienteNuevoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
